name: Publish package to npmjs
on:
  release:
    types: [published]
permissions:
  id-token: write
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write
    steps:
      - uses: actions/checkout@v4
      # Setup .npmrc file to publish to npm
      - uses: actions/setup-node@v4
        with:
          node-version-file: .nvmrc
          cache: 'npm'
      - run: npm install
      - run: npm run lint
      - run: npm run build
      - run: npx changeset publish --provenance
